<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} | Le Louvre!{% endblock %}</title>
        {% block stylesheets  %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/louvre.css') }}">
        {% endblock %}
        {% block css %}{%  endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>

    {% block menu %}
        {% include 'nav.html.twig' %}
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}


    {% block javascripts %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}

    {% block scripts %}{% endblock %}
    </body>
</html>
