{% extends '::base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/stripe.css') }}">
{% endblock %}


{% block body %}

    <!--
    +totalAmount: 6
  +price: array:1
  +numberCommand: "LPC598333e919a6a"
  +order: OrderModel {
    +visitDate: DateTime
    +ticketType: "2"
    +buyerLastName: "yann"
    +buyerFirstName: "clemennt"
    +buyerEmail: "clementyann@free.fr"
    +tickets: array:1

    -->

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <table class="table">

                    </table>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nom du visiteur</th>
                                <th>Type de billet</th>
                                <th>Tarif</th>
                                <th>commentaire</th>
                            </tr>
                        </thead>

                        <tfoot >
                            <tr class="text-center">
                                <td colspan="2">Nombre de billet(s) {{ form.price|length }}<td>
                                <td colspan="2">Total de la commande: {{ form.totalAmount }}.00€</td>
                            </tr>
                        </tfoot>

                        <tbody>
                            {% for key, ticket in form.order.tickets %}
                            <tr>
                                <td>
                                    {{ ticket.visitorFullName}}
                                </td>

                                <td>
                                    {% if form.order.ticketType == 1 %}
                                        Billet Journée
                                    {% else %}
                                        Billet demi-journée
                                    {% endif %}
                                </td>

                                <td>
                                    {{ form.price[key] }}.00 €
                                </td>
                                <td>
                                    {% if ticket.reducedPrices == true %} <h6>Un justificatif sera necessaire</h6>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <form action="#" method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_aYn42rDsZyeFrQ7kHbjAIz05"
                data-amount="{{ form.totalAmount }}00"
                data-name="Le Louvre"
                data-description="Votre visite du {{ form.order.visitDate | date("d/m/Y") }}"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-zip-code="true"
                data-email="{{ form.order.buyerEmail }}"
                data-currency="eur">
        </script>
    </form>


{{ dump(form) }}

{% endblock %}