{% extends '::base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/stripe.css') }}">
{% endblock %}


{% block body %}
    {{ parent() }}

    <h1 class="title">Page de payement</h1>


    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                {% if command.tickets is empty %}
                    <p>Aucun billet n'a été ajoutés</p>
                {% else %}
                    <div class="text-right">
                        <a id="btn-remove-list" class="btn btn-danger" href="#" onclick="return confirm('Si vous supprimez la liste vous serez redirigé vers la page d\'accueil. Vous devrez alors choisir à nouveau une date de visite.')">Vider la liste</a>
                    </div>
                    <div class="list-tickets-container">
                        <h4>Récapitulatif de vos billets</h4>
                        <table class="table table-striped">
                            {% for key, ticket in command.tickets %}
                                <tr>
                                    <td>{{ ticket.nom }} </td>

                                    <td>{{ ticket.prix }} €</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><a class="btn btn-danger" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            </div>

            <div class="col-lg-12">
                <div class="quantity-container col-lg-5">
                    <p>Nombre de billets: <span>{{ command.tickets|length }} </span></p>
                </div>
                <div class="total-container col-lg-6 col-lg-offset-1">
                    <p>Total de votre commande: <span>{{ command.totalPrice }} €</span></p>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="information col-lg-5">
                    <h4>Information</h4>
                    <p>Une fois la commande terminée vous allez recevoir un mail récapitulant l'intégarlité de votre commande</p>
                </div>
                <div class="form-payment col-lg-6 col-lg-offset-1">
                    <h4>Formulaire de payement</h4>
                    {{ form_start(form, {"attr" : {'id': 'payment-form', 'class': "form-horizontal"}}) }}
                    <div class="form-group">
                        {{ form_label(form.firstname) }}
                        <div class="col-lg-9">
                            <div class="errors">{{ form_errors(form.firstname) }}</div>
                            {{ form_widget(form.firstname, {"attr": {'class': "form-control"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.lastname) }}
                        <div class="col-lg-9">
                            <div class="errors">{{ form_errors(form.lastname) }}</div>
                            {{ form_widget(form.lastname, {"attr": {'class': "form-control"} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email) }}
                        <div class="col-lg-9">
                            <div class="errors">{{ form_errors(form.email) }}</div>
                            {{ form_widget(form.email, {"attr": {'class': "form-control"} }) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="card-element">
                            Coordonnées banquaire
                        </label>
                        <div id="card-element">
                            <!-- a Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display form errors -->
                        <div id="card-errors"></div>
                    </div>

                    <div class="text-right">
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script src="https://js.stripe.com/v3/"></script>
    <script>

        let stripe = Stripe('pk_test_aYn42rDsZyeFrQ7kHbjAIz05');

        let elements = stripe.elements();
        const style = {
            base: {
                fontSize: '16px',
                lineHeight: '24px',
            },
        };
        const card = elements.create('card', {style});
        card.mount('#card-element');
        card.addEventListener('change', ({error}) => {
            const displayError = document.getElementById('card-errors');
        if (error) {
            displayError.textContent = error.message;
        } else {
            displayError.textContent = '';
        }
        });
        const form = document.getElementById('payment-form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
        const {token, error} = await stripe.createToken(card);
        if (error) {
            const errorElement = document.getElementById('card-errors');
            errorElement.textContent = error.message;
        } else {
            stripeTokenHandler(token);
        }
        });
        const stripeTokenHandler = (token) => {
            // Insert the token ID into the form so it gets submitted to the server
            const form = document.getElementById('payment-form');
            const hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);
            // Submit the form
            form.submit();
        }
    </script>
{% endblock %}