<img src="https://www.grapheine.com/wp-content/uploads/2016/04/louvre-1eravril-800x238.jpg" alt="logo louvre">
<h1>Confirmation de votre commande sur le site du Louvre</h1>
Merci {{ command.firstname }}, d'avoir acheté vos billet sur le site du Louvre.

<h2>Récapitulatif de votre commande</h2>
<div>
    <p>Numero de command: <span>{{ command_number }}</span></p>
    <p>Date de visite le: <span>{{ command.visitdate | date('d/m/Y') }}</span></p>
    <p>Moment de la visite: <span>{{ command.ticketType }}</span></p>
    <p>Montant total de votre commande: {{ command.total }} €</p>
</div>

<h3>Liste des billets (nominatifs)</h3>
<ul>
    {% for key, ticket in command.tickets %}
        <li>
            <div>
                <h4>{{ ticket.firstname }} {{ ticket.lastname }}</h4>
                <p>Pays de nationalité: {{ ticket.country }}</p>
                <p>Né le: {{ ticket.birthdate.date | date("d/m/Y") }}</p>
                <p>Bénéficie du tarif "{{ ticket.priceType }}".</p>
                <p>Prix du billet: {{ ticket.price }} €</p>
            </div>
        </li>
    {% endfor %}
</ul>