
<img src="{{ asset('imgs/logo-louvre.jpg') }}" alt="logo louvre">

{% set form = command %}
<h1>Confirmation de votre commande sur le site du Louvre</h1>
<p>Bonjour, {{ form.order.buyerFirstName |upper }} {{ form.order.buyerLastName | e }}, nous vous remercions de votre commande.</p>
<p>Vous trouverez ci-joint le récapitulatif de vottre commande ainsi que le détail des billets.</p>
<hr>

<p>Le documment suivant vous sera demandé lors de votre visite, merci de l'imprimer.</p>

<div>
    <table>
        <tr>
            <td>N° de commande: </td>
            <td>{{ form.numberCommand|e }}</td>
        </tr>
        <tr>
            <td>Date de Visite: </td>
            <td>{{ form.order.visitDate | date ('d/m/Y') }}</td>
        </tr>
        <tr>
            <td>Nom: </td>
            <td>{{ form.order.buyerFirstName |upper }} {{ form.order.buyerLastName | e }}</td>
        </tr>
        <tr>
            <td>Email de contact: </td>
            <td>{{ form.order.buyerEmail }}</td>
        </tr>
        <tr>
            <td>Nombre de billet(s):</td>
            <td>{{ form.order.tickets|length }}</td>

        </tr>
        <tr>
            <td>Montant en euro:</td>
            <td>{{ form.totalAmount }} .00€</td>

        </tr>

    </table>
</div>
<hr>
<div>
    <ul>
        {% for ticket in form.order.tickets %}
            <li>
                <h3>Nom du visiteur: {{ ticket.visitorFullName}}</h3>
                <p>
                    Type de billet: {% if form.order.ticketType == 1 %}
                        Billet Journée
                    {% else %}
                        Billet demi-journée
                    {% endif %}
                </p>
                <p>
                    Prix du billet: {{ ticket.price }}.00 €
                    {% if ticket.reducedPrices == true %}
                </p>
                <h6>Tarif « réduit » accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)</h6>

                {% endif %}

                <p>Pays: {{ ticket.visitorCountry|country }}</p>
                <hr>
            </li>
        {% endfor %}
    </ul>
</div>
